<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

	<!-- 마이페이지 폴더 목록 -->
	<select id="selectAllFolder" resultType="folderVO">
		select f.fol_no fol_no, f.fol_name fol_name from folder f, my_library ml, customer c where c.cust_no=ml.cust_no and ml.ml_no=f.ml_no and c.cust_no=#{cust_no}
	</select>
</mapper>



