/*
연 f8f9fa
진 343a40
*/
body {
  overflow-x: hidden;
  font-family: 'Noto Sans KR';
}

.icons {
  height: 15px;
}

.searchbar {
  border-radius: 25px;
  padding: 5px 25px;
}

#home-icons p {
  font-size: 14px;
}

.btn {
  border-radius: 25px;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  /* background: url('../img/image1.jpg'); */
  background-color: cadetblue;
  background-size: cover;
}

.carousel-image-2 {
  /* background: url('../img/image2.jpg'); */
  background-color: darkgoldenrod;
  background-size: cover;
}

.carousel-image-3 {
  /* background: url('../img/image3.jpg'); */
  background-color: darkseagreen;
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 250px;
  /* background: url('../img/lights.jpg'); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 110px;
  /*background: url('../img/image1.jpg');*/
  background-color: darkseagreen;
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 20px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  background: #000;
  color: #fff;
}

/* 유림추가 */

/* 1. 회원가입페이지 */
.btn-Customer {
  border-radius: 3px;
}


#insertCustomer {
	width: 500px;
	margin: auto;
}	

.signup_required {
	color: coral;
}


/* 2. 로그인 */
#loginPage {
   width: 500px;
   margin: auto
}

.heroTitle {
  font-family: 'Merriweather', serif;
  font-weight: 100;
  margin: 70px 0 10px 0;
  text-align: center;
}

.heroTitle_dot {
  color: cornflowerblue;
  font-family: 'Noto San Serif KR', serif;
  font-weight: 600;
}

.heroTitle_kor {
  font-family: 'Noto Serif KR';
  font-weight: 300;
}

#loginInfo {
  margin-bottom: 200px;
}

.heroLine {
  border: 1px solid  midnightblue;
}
/* 유림추가 끝 */